* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow-x: hidden;
  }
  
  /* Menu Button */
  .menu-btn {
    font-size: 24px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
  }
  
  /* Sidebar styles */
  .sidebar {
    z-index: 1000;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: orange;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  
  .dropdown-btn {
    padding: 8px 32px;
    text-align: left;
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    width: 100%;
  }

  .dropdown-btn :hover{
    color: orange;
  }

  .dropdown-container {
    display: none;
    background-color: #333;
    padding-left: 50px;
  }

  .dropdown-container a {
    font-size: 20px;
  }

  .dropdown-btn:after {
    content: '\25BC'; 
    float: right;
    margin-right: 20px;
  }

  .active:after {
    content: '\25B2'; 
  }

  
  .open-sidebar {
    width: 250px;
  }