.quiz-page {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
    margin-bottom: 5%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.topic{
    margin-bottom: 5%;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    /* margin-left: 8%; */
}

#progress-bar-container {
    width: 50%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
}

.question {
    font-size: 18px;
    margin-bottom: 10px;
}

.options {
    /* width: 300px; */
    display:grid;
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    margin: 5% 25%;
}

.option {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #ddd;
}

/* Color for selected option before submission */
.option.selected {
    background-color: #2196f3;
    color: white;
}

/* Color for correct and wrong answers after submission */
.option.correct {
    background-color: #5ce65cdb;
    color: white;
}

.option.wrong {
    background-color: #eb4d41e9; 
    color: white;
}

#submit-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#score-container {
    margin-top: 20px;
    font-size: 18px;
}

